
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Jefe de Recinto</h4>
                <h6 class="card-subtitle">Actualizar información</h6>

                <form class="form-horizontal p-t-20"
                        [formGroup]="registerForm"
                        (submit)="crearUsuario()">

                                     
                    <div class="form-group row">
                        <label for="exampleInputuname1" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="nombre"
                                        class="form-control" 
                                        id="exampleInputuname1" 
                                        placeholder="Nombre del Jefe de Recinto"> 
                            </div>
                            <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
                                Este campo es obligatorio
                            </span>
                        </div>
                        
                    </div>
                    

                    <div class="form-group row">
                        <label for="exampleInputuname2" class="col-sm-3 control-label">Correo</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" 
                                        formControlName="email"
                                        class="form-control" 
                                        id="exampleInputuname2" 
                                        placeholder="Correo">
                            </div>
                            <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                                Este campo es obligatorio | debe ser un correo valido
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Contraseña</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" 
                                        formControlName="password"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Password">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname4" class="col-sm-3 control-label">Confirmar</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" 
                                        formControlName="ci"
                                        class="form-control" 
                                        id="exampleInputuname4" 
                                        placeholder="Password">
                            </div>                   
                        </div>
                        <span class="form-text text-danger" *ngIf="contrasenasNoValidas('password','ci')">
                            Contraseña de ser igual
                        </span>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname5" class="col-sm-3 control-label">Celular</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" 
                                        formControlName="celular"
                                        class="form-control" 
                                        id="exampleInputuname5" 
                                        placeholder="Celular">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Recinto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control"
                                        formControlName="recinto">
                                    <option value="">Seleccione Recinto</option>
                                    <option *ngFor="let recinto of recintos"
                                        [value]="recinto._id">
                                        {{ recinto.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit"
                                    [disabled]="registerForm.invalid"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col animated fadeIn fast"  
        *ngIf="recintoSeleccionado">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Recinto</h4>
                <h6 class="card-subtitle">{{ recintoSeleccionado.nombre }}</h6>
                <div *ngIf=jefeSeleccionado>
                    <h4 class="card-title">Jefe de Recinto</h4>
                    <h6 class="card-subtitle">{{ jefeSeleccionado.nombre }}</h6>
                    <h4 class="card-title">Celular</h4>
                    <h6 class="card-subtitle">{{ jefeSeleccionado.celular }}</h6>
                </div>
                <img [src]="recintoSeleccionado.img | imagen:'recintos'" 
                    class="img-thumbnail"/>

            </div>
        </div>

    </div>
</div>


