<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar Recinto..."
                        #txtTermino
                        (keyup)="buscar(txtTermino.value)"/>

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row"
    *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Recintos ({{ recintos.length }})</h4>
                        <h6 class="card-subtitle">
                            Recintos registrados en mi aplicación
                        </h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary"
                                    (click)="abrirSweetAlert()">
                                <i class="fa fa-hospital-o"></i> 
                                Crear Recinto
                            </button>
                        </div>
                    </div>

                </div>

                


                

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Nombre</th>
                                <th class="w100">Mesas</th>
                                <th class="w100">Distrito</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let recinto of recintos">

                                <td>
                                    <input type="text" 
                                            class="form-control"
                                            placeholder="Nombre del hospital"
                                            [(ngModel)]="recinto.nombre" />
                                </td>
                                <td>
                                    <input type="text" 
                                            class="form-control"
                                            placeholder="Nombre del recinto"
                                            [(ngModel)]="recinto.cantidadmesas" />
                                </td>
                                <td>
                                    <input type="text" 
                                            class="form-control"
                                            placeholder="Nombre del recinto"
                                            [(ngModel)]="recinto.distrito" />
                                </td>
                                
                                <td class="text-nowrap text-center">
                                    <a (click)="guardarCambios(recinto)"
                                        data-toggle="tooltip" 
                                        class="cursor"
                                        data-original-title="Guardar cambios"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>

                                    <a (click)="eliminarRecinto(recinto)" 
                                        data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        class="cursor"> 
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>