<!-- <div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar delegado..."
                        #txtTermino
                        (keyup)="buscar( txtTermino.value )"/>

            </div>
        </div>
    </div>
</div>  -->

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row"
    *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-8">
                        <h4 *ngIf=recinto class="card-title">Recinto: ({{ recinto.nombre }}) - Mesas: ({{ recinto.cantidadmesas }})</h4>
                        <h6 class="card-subtitle">Delegados Registrados: ({{ usuarios.length }})</h6>                     
                    </div>

                    <!-- <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary"
                               routerLink="/dashboard/delegado/nuevo">
                                <i class="fa fa-hospital-o"></i> 
                                Crear delegado
                            </a>
                        </div>
                    </div> -->

                </div>



                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100 text-nowrap">Tipo</th>
                                <th class="w100">CI</th>
                                <th>Nombre</th>
                                <th class="w100">Celular</th>
                                <th class="w100 text-nowrap">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>                                  
                                    <span *ngIf="usuario.jefe" class="label label-danger">Jefe</span>    
                                    <span *ngIf="!usuario.jefe" class="label label-info">Delegado</span>  
                                </td>
                                <td> 
                                    {{ usuario.ci }}
                                </td>
                                <td>
                                    {{ usuario.nombre }}
                                </td>
                                <td>
                                    {{ usuario.celular }}
                                </td>
                                

                                <td class="text-nowrap text-center">
                                    <!-- <a class="cursor"
                                    
                                        data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        (click)="resetPassword( usuario )"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a> -->
                                    <a [routerLink]="['/dashboard','delegado', usuario.uid ]" 
                                        data-toggle="tooltip" 
                                        data-original-title="Editar">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
<!-- 
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>